<html>
    <head>
        <title>Blog List</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-Dark bg-Warning">
          <a class="navbar-brand" href="#">CRUD</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">메인 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">게시판</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="container">
            <h1>게시판 페이지입니다</h1>
            <!-- 게시판(postlist)의 게시글(list)을 하나씩 보여줍니다 -->
            <!-- {와 %로 이루어진 구문 내부엔 파이썬이 사용됩니다 -->
            <div class="row">
            {% for list in postlist %}
                <!-- 게시글 클릭시 세부페이지로 넘어갑니다-->
                <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  {% load static %}
                    <img class="img-fluid card-img-top"src="{% static 'firstImg.png' %}">
                  <div class="card-body">
                    <h5 class="card-title">{{list.postname}}</h5>
                    <p class="card-text">{{list.contents}}</p>
                    <a href="..blog/{{ list.pk }}/" class="btn btn-primary">바로가기</a>
                  </div>
</div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </body>
</html>